hr {
    margin: 20px 0;
}

.text1 {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
    font-size: 20px;
    line-height: 30px;
}

.text2 {
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    line-height: 20px;
    text-decoration: line-through;
}

.text3 {
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
}

.text4 {
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    line-height: 20px;
    word-spacing: 30px;
    text-shadow: 3px 3px 6px #800080;
    text-decoration: overline wavy;
}

.text5 {
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 5px;
    border-bottom: 8px double black; display: inline-block;
}